.statistics {
  text-align: center;
  padding-top: 50px;
}

.statlist {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  gap: 20px;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
}
